*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : monospace;
}
html, body{
    height : 100%;
    width: 100%;
    background-color: #000000;
}
p{
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    background: linear-gradient(to right, rgb(13, 255, 29),rgb(1, 255, 60));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
